@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;
}

// variables 변수명은 css에서 보이지 않는다. 대시, 언더바를 제외하고 특수기호, 숫자로 변수명을 시작하면 안됨.
$primary-btn: royalblue;
$secondary-btn: yellowgreen;
$warning-btn: crimson;


.btns{
    .btn{
        border: none;
        text-transform: uppercase;
        font-size: 15px;
        padding: 10px 30px;
        border-radius: 3px;
        color: #fff;
    }
    .primary{
        background-color: $primary-btn;
    }
    .secondary{
        background-color: $secondary-btn;
    }
    .warning{
        background-color: $warning-btn;
    }
}