/* font */
@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}
#section2{
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #FF7535;
}
.items{
    width: 1200px;
    padding: 120px 20px;
    text-align: center;
}
.items h3{
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 30px;
}
.items p{
    font-size: 20px;
    margin-bottom: 30px;
}
.items h4{
    font-size: 28px;
}