/* font */
@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* default */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
    margin-top: 0;
    font-weight: normal;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.container{
    position: relative;
    width: 1200px;
    padding: 120px 20px;
    text-align: center;
}

/* section1 */
#section1{
    position: relative;
}
#section1::before{
    content: '';
    position: absolute;
    background: url(images/bg.png) no-repeat center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
#section1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 270px;
    background-color: #FF7535;
}
#section1 .container{
    z-index: 1;
}
#section1 .container span{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}
#section1 .container h1{
    font-size: 80px;
    font-family: 'TmonMonsori';
    margin-bottom: 60px;
}
#section1 .container img{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* section2 */
#section2{
    background-color: #FF7535;
}
#section2 .container h3{
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 30px;
}
#section2 .container p{
    font-size: 20px;
    margin-bottom: 30px;
}
#section2 .container h4{
    font-size: 28px;
}

/* section3 */
#section3{
    position: relative;
    background-color: #FF7535;
}
#section3::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 435px;
    background-color: #fff;
}
#section3 .container h2{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 60px;
}

/* 스와이퍼 컨테이너 스타일 설정 */
.swiper-wrapper{
    z-index: 10;
    position: relative;
}
.swiper-container {
    width:1160px;                    /* 컨테이너의 너비 설정 */
    padding-bottom: 50px;            /* 하단 패딩 설정 */
}
.swiper-wrapper{
    z-index: 10;
    position: relative;
}
/* 스와이퍼 내부 아이템 스타일 설정 */
.swiper-slide .item {
    display: flex;                   /* flex 디스플레이로 설정 (아이템들을 가로로 배열) */
    flex-direction: row;             /* 아이템들을 가로 방향으로 배열 */
    overflow: hidden;                /* 내용이 넘치면 숨김 처리 */
}
/* 스와이퍼 내부 각 div 스타일 설정 */
.swiper-slide .item img {
    width: 500px;                    /* div의 너비 설정 */
    height: 500px;                   /* div의 높이 설정 */
}

/* section4 */
#section4{
    position: relative;
}
#section4 .content-container{
    position: relative;
    width: 100%;
}
#section4 .content{
    position: absolute;
    left: 0;
    top: 0;
    width: 1146px;
    padding: 60px;
    border: 1px solid #000;
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
}
#section4 .content::before{
    content: '';
    position: absolute;
    left: 14px;
    top: 14px;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 30px;
    background-color: #b8bbff;
    z-index: -1;
}
#section4 .content h3{
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #1e2285;
}
#section4 .content h3:nth-of-type(3){
    margin-bottom: 60px;
}
#section4 .content p{
    color: #000;
    font-size: 15px;
    line-height: 1.5em;
}

/* section5 */
#section5{
    position: relative;
    color: #222;
}
#section5 .container{
    text-align: left;
}
#section5 .headline{
    position: relative;
    width: 100%;
    text-align: center;
}
#section5 .headline h2{
    font-family: 'TmonMonsori';
    font-size: 50px;
    color: #1e2285;
}
#section5 .headline img{
    position: absolute;
    left: 46%;
    top: -280px;
    transform: translateX(-50%);
}
#section5 .writer{
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-bottom: 60px;
}
#section5 .writer .photo{
    width: 40%;
    margin-right: 10px;
}
#section5 .writer .photo img{
    width: 450px;
    height: 530px;
}
#section5 .writer .desc{
    width: 60%;
    margin-left: 10px;
}
#section5 .writer .desc .name h3,
#section5 .translator .name h3{
    position: relative;
    font-family: 'TmonMonsori';
    font-size: 32px;
    font-weight: 700;
    /* margin-bottom: 40px;
    border-bottom: 6px solid #000;
    border-radius: 5px;
    border-width: 60%; */
}
#section5 .writer .desc .name h3::after,
#section5 .translator .name h3::after{
    content: '';
    display: block;
    width: 420px;
    border-bottom: 6px solid #222;
    border-radius: 3px;
}
#section5 .writer .desc .name span,
#section5 .translator .name span{
    font-size: 20px;
}
#section5 .writer .desc p,
#section5 .translator .desc p{
    line-height: 1.6em;
    margin-bottom: 30px;
}
#section5 .btn{
    display: inline-block;
    width: 200px;
    background-color: #1e2285;
    border: 1px solid transparent;
    padding: 24px 0;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    transition: 0.3s;
}
#section5 .btn:hover{
    background-color: #fff;
    color: #1e2285;
    border: 1px solid #000;
}

#section5 .translator{
    width: 100%;
}
#section5 .translator .desc{
    width: 100%;
    display: flex;
}
#section5 .translator .desc p{
    width: 60%;
}
#section5 .translator .desc .button{
    width: 40%;
    text-align: right;
}

/* section6 */
#section6{
    position: relative;
    background-color: #1e2285;
}
#section6 .container h2{
    font-family: 'TmonMonsori';
    font-size: 48px;
    color: #fff;
    margin-bottom: 60px;
}
#section6 .item{
    width: 1030px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#section6 .item:last-child{
    margin-bottom: 0;
}
#section6 .item.left{
    float: left;
}
#section6 .item.right{
    float: right;
}
#section6 .item .page{
    position: relative;
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* #section6 .item .page::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: #fff;
}
#section6 .item:nth-child(1) .page::before{
    top: 20px;
    left: 20px;
} */
#section6 .item.left .page{
    margin-right: 20px;
}
#section6 .item.right .page{
    margin-left: 20px;
}
#section6 .item .page svg{
    position: absolute;
    left: 0;
    top: 0;
}
#section6 .item .page svg:first-child{
    left: 15px;
    top: 17px;
}
#section6 .item .page span{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #ff5100;
}
#section6 .item .desc{
    position: relative;
    width: calc(100% - 138px);
    font-size: 15px;
    color: #fff;
}
#section6 .item.left .desc{
    text-align: left;
    padding-left: 20px;
}
#section6 .item.right .desc{
    text-align: right;
    padding-right: 20px;
}
#section6 .item .desc::before{
    content: '';
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #ff5100;
}
#section6 .item.left .desc::before{
    left: 0;
}
#section6 .item.right .desc::before{
    right: 0;
}

/* section7 */
#section7{
    position: relative;
}
#section7 .btn{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#section7 .btn li{
    float: left;
    font-size: 20px;
    color: #222;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 0 20px 0 0;
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}
#section7 .btn li:hover,
#section7 .btn li.active{
    background-color: #B8BBFF;
}

#section7 .tabs{
    position: relative;
    color: #222;
}
#section7 .tabs::after{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: #B8BBFF;
    border: 1px solid #000;
    border-radius: 15px;
    z-index: -1;
}
#section7 .tabs > div{
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
}
#section7 .tabs div.active{
    display: block;
}

#section7 .tab_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: auto;
    padding: 10px;
    background-color: #EDEEFF;
    border: 1px solid #000;
    border-radius: 50px 10px 10px 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#section7 .tab_desc:last-child{
    margin-bottom: 0;
}
#section7 .tab_desc .image{
    width: 15%;
    text-align: center;
}
#section7 .tab_desc img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid #000;
}
#section7 .tab_desc h2{
    width: 15%;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}
#section7 .tab_desc p{
    width: 70%;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    overflow: hidden;
}

/* section8 */
#section8{
    position: relative;
    background: url(images/bg2.png) no-repeat center;
    color: #222;
}
#section8 .container{
    display: flex;
    justify-content: center;
}
#section8 .item{
    width: 700px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 4px 4px 25px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    padding: 60px;
    text-align: center;
    transition: 0.3s;
}
#section8 .item img{
    width: 300px;
    margin-bottom: 40px;
}
#section8 .item h3{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
#section8 .item em{
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    font-style: normal;
}
#section8 .item a{
    display: inline-block;
    width: 300px;
    padding: 30px 0;
    text-align: center;
    background-color: #fc5002;
    border-radius: 10px;
    margin-top: 40px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}
#section8 .item a:hover{
    background-color: #fff;
    color: #fc5002;
}